<h1 id="footer-box">
    <div id="footer">Page Footer</div>
    <div id="link">
        <a href="/users/sign-out">Sign Out</a>
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
    </div>
</h1>