<html>
    <head>
        <title>
            <%= Title %>
        </title>
    </head>
    <body>
        <h1>Sign In Page</h1>
        <input type="email" name="email">Email
        <input type="passwored" name="password">Password
    </body>

</html>